.footer {
    padding: 70px 0;
    color: $dark_text;
    &__rights {
        padding-left: 80px;
        position: relative;
        &::before {
            position: absolute;
            left: 0;
            top: 50%;
            width: 30px;
            height: 30px;
            transform: translateY(-50%);
            content: url(../img/footer/icon1.png);
            z-index: 10;
        }
    }
}